<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="passport" src='/img/IMG_20201012_115617.jpg'>
      <p>Nothing much to know about me, except that i am a web engineer. I dont like what i hate, and if you buy me a bottle of sprite, we are buddies, if you add 'massa'(a northern nigeria delicoius recipe), i will know you want to kill me. I have close buddies i love so much. Importantly i need work</p>
    </div>
    
    {{>footer}}
  </body>
</html>